.btn2-contact-btn {
    /* width: 40%; */
    position: relative;
    padding: 12px 35px;
    background: #0fc23c;
    font-size: 17px;
    font-weight: 1000;
    color: #ffffff;
    border: 3px solid #0fc23c;
    border-radius: 8px;
    box-shadow: 0 0 0 #ffffff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .btn2-star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #61f17c);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .btn2-star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #61f17c);
    z-index: -5;
    transition: all 1scubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .btn2-star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #61f17c);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .btn2-star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #61f17c);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .btn2-star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #61f17c);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .btn2-star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #61f17c);
    z-index: -5;
    transition: all 0.8s ease;
  }
  
  .btn2-contact-btn:hover {
    background: transparent;
    color: #61f17c;
    box-shadow: 0 0 0px #61f17c;
  }
  
  .btn2-contact-btn:hover .btn2-star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0px #61f17c);
    z-index: 2;
  }
  
  .btn2-contact-btn:hover .btn2-star-2 {
    position: absolute;
    top: -0%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0px #61f17c);
    z-index: 2;
  }
  
  .btn2-contact-btn:hover .btn2-star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0px #61f17c);
    z-index: 2;
  }
  
  .btn2-contact-btn:hover .btn2-star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0px #61f17c);
    z-index: 2;
  }
  
  .btn2-contact-btn:hover .btn2-star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0px #61f17c);
    z-index: 2;
  }
  
  .btn2-contact-btn:hover .btn2-star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0px #61f17c);
    z-index: 2;
  }
  
  .btn2-fil0 {
    fill: #61f17c;
  }
  