.feature-parent-div{
    @media (max-width: 768px) {
        width: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-around ;
    }
}

.feature-title{
    @media (max-width: 768px) {
        width: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-around ;
    }
}
.feature-title-text{
    @media (max-width: 768px) {
        font-size: 2.2rem;
    }
}

.feature-title-btn{
    @media (max-width: 768px) {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}